@tailwind base;
@tailwind components;
@tailwind utilities;

/* ------------------------- */
/* Global Styles */
body {
  @apply bg-slate-950 text-white;
}

/* Layout resets */
section {
  @apply py-10 md:py-16;
}
